# 差分対象ディレクトリ（中身は追跡しない）
diffTarget/new/*
diffTarget/old/*

# exports フォルダの中身を追跡しない
exports/*

# ただし、フォルダ自体は Git に残したい場合は .gitkeep を使う
!diffTarget/new/.gitkeep
!diffTarget/old/.gitkeep
!exports/.gitkeep

.DS_Store
package-lock.json
node_modules